/* line 13, ../sass/screen.scss */
body {
  font-family: 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 20px;
  color: #333;
}

/* line 21, ../sass/screen.scss */
.body {
  background-color: #f0f3f5;
}

/* line 24, ../sass/screen.scss */
.body, .h1, .h2 {
  font-weight: 300;
}

/* line 27, ../sass/screen.scss */
body * {
  box-sizing: border-box;
}

/* line 31, ../sass/screen.scss */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 38, ../sass/screen.scss */
.ui-datepicker {
  font-size: 12px;
  line-height: 1;
}

/*setup*/
/* line 45, ../sass/screen.scss */
.clearfix:after {
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  content: '';
}

/* line 52, ../sass/screen.scss */
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 57, ../sass/screen.scss */
.blocklabel {
  display: block;
  font-weight: 700;
}

/* line 62, ../sass/screen.scss */
.allignright {
  text-align: right;
  margin-top: 10px;
}

/* line 66, ../sass/screen.scss */
.alligncenter {
  text-align: center;
  margin-top: 10px;
}

/*doc
---
title: HR
name: hr
category: basics
---

Styles defined for hr elements.

```html_example
<hr>
```

*/
/* line 84, ../sass/screen.scss */
hr {
  border: 0 none;
  background-color: #dce4e9;
  height: 3px;
  margin: 5px 0;
}

/*doc
---
title: Headers
name: headers
category: basics
---

Styles defined for header elements.

```html_example
<h1 class="h1">h1</h1>
<h2 class="h2">h2</h2>
```

*/
/* line 105, ../sass/screen.scss */
.h1 {
  font-size: 1.3rem;
  margin: 0;
  padding: 8px 10px;
  background-color: #b00925;
  color: #fff;
  box-shadow: 0 3px 0 0 #d0d2d3;
}

/* line 114, ../sass/screen.scss */
.h2 {
  font-size: 1rem;
  margin: 20px 0 0;
  padding: 2px 5px;
  color: #fff;
  background-color: #10181f;
  border-radius: 4px 4px 0 0;
}

/*doc
---
title: Buttons
name: button
category: basics
---

Button styles are applied to the BUTTON element. The class ".btn-change" provides a different back color.

```html_example
<button type="button">&times;</button>
<button type="submit">Save</button>
<button type="reset" class="btn-change">Clear</button>
<button type="button" class="btn-change">Edit</button>
<button type="button" disabled>Disabled</button>
```

*/
/* line 142, ../sass/screen.scss */
button {
  margin: 0;
  font-size: 1em;
  line-height: 21px;
  max-width: 100%;
  padding: 0 6px;
  border: 1px solid #fff;
  font-family: 'Open Sans', 'Segoe UI', Helvetica, Arial;
  font-weight: 300;
  cursor: pointer;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #b00925;
}
/* line 158, ../sass/screen.scss */
button:hover {
  background-color: #0093c9;
}

/* line 162, ../sass/screen.scss */
.btn-change {
  background-color: #f28e1f;
}

/*doc
---
title: Select & Input
name: select & input
category: basics
---

Style for SELECT & INPUT

```html_example
<select><option>Drop down</option><select>
<select disabled><option>Disabled</option><select>
<input type="text" placeholder="Type text"/>
<input type="number" placeholder="Type number"/>
```
*/
/* line 182, ../sass/screen.scss */
select, input {
  margin: 0;
  border-radius: 4px;
}

/* line 186, ../sass/screen.scss */
select, [type='text'], [type='number'] {
  width: 165px;
}

/* line 189, ../sass/screen.scss */
select, input[type='text'], input[type='number'], input[type='date'] {
  font-size: 11px;
  height: 26px;
  max-width: 100%;
  min-width: 100%;
  padding: 0 6px;
  border: 1px solid #ddd;
  background-color: #fff;
}

/* line 198, ../sass/screen.scss */
[disabled], [readonly] {
  cursor: not-allowed;
  color: #fff;
  background-color: #d1d2d4;
}

/* line 203, ../sass/screen.scss */
[disabled]:hover, [readonly]:hover {
  background-color: #ccc;
}

/*doc
---
title: Fieldset
name: fieldset
category: basics
---

Any FIELDSET element and LEGEND will be styled as follows:

```html_example
    <fieldset><legend>Legend</legend>
      Fieldset content
    </fieldset>
```
*/
/* line 222, ../sass/screen.scss */
fieldset {
  margin: 0;
  border: 0 solid #0093c9;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 0 0 #d0d2d3;
}

/* line 230, ../sass/screen.scss */
legend {
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  color: #0093c9;
  background-color: #fff;
}

/*doc
---
title: Grid
name: grid
category: basics
---

Grid system contains floating two containers of 50/50 or 37/63 ratio;

```html_example

<div class="clearfix">
  <div class="float50"><hr>50%<hr></div>
  <div class="float50"><hr>50%<hr></div>
</div>
<div class="clearfix">
  <div class="float33"><hr>33%<hr></div>
  <div class="float33"><hr>33%<hr></div>
  <div class="float33"><hr>33%<hr></div>
</div>
<div class="clearfix">
  <div class="float-lil"><hr>Little<hr></div>
  <div class="float-big"><hr>Big<hr></div>
</div>
<div class="inblock"><hr>Inline block<hr></div>
<div class="inblock"><hr>Inline block<hr></div>
<div class="inblock"><hr>Inline block<hr></div>

```
*/
/* line 269, ../sass/screen.scss */
.float50 {
  float: left;
  width: 50%;
  padding-right: 10px;
}

/* line 274, ../sass/screen.scss */
.float50:nth-child(even) {
  padding-right: 0;
}

/* line 277, ../sass/screen.scss */
.float33 {
  float: left;
  width: 33.33%;
  padding-right: 10px;
}

/* line 283, ../sass/screen.scss */
.float66 {
  float: left;
  width: 66.66%;
  padding-right: 10px;
}

/* line 288, ../sass/screen.scss */
.float33:nth-of-type(3n+3), .float33:last-child {
  padding-right: 0;
}

/* line 291, ../sass/screen.scss */
.float-lil {
  float: left;
  width: 37%;
  padding-right: 10px;
}

/* line 296, ../sass/screen.scss */
.float-big {
  float: left;
  width: 63%;
}

/* line 300, ../sass/screen.scss */
.inblock {
  display: inline-block;
  width: 180px;
}

/*doc
---
title: Table
name: table
category: basics
---

Table styling applied when a class of "tbl" is added to a TABLE element. The cell in the footer has a class of ".allign-right".

```html_example
<table class="tbl">
  <caption>Table caption</caption>
  <thead><tr><th>Table Head</th><th>Table Head</th><th>Table Head</th></tr></thead>
  <tbody>
    <tr><td>Table Cell</td><td>Table Cell</td><td>Table Cell</td></tr>
    <tr><td>Table Cell</td><td>Table Cell</td><td>Table Cell</td></tr>
    <tr><td>Table Cell</td><td>Table Cell</td><td>Table Cell</td></tr>
  </tbody>
  <tfoot><tr><td colspan="3" class="allign-right">Table footer</td></tr></tfoot>
</table>
```

*/
/* line 328, ../sass/screen.scss */
.tbl {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 0 0 #d0d2d3;
  background-color: #fff;
}
/* line 336, ../sass/screen.scss */
.tbl caption {
  color: #0093c9;
  text-transform: uppercase;
  background-color: #EEF6FF;
}
/* line 341, ../sass/screen.scss */
.tbl thead {
  background-color: #dae2e8;
}
/* line 344, ../sass/screen.scss */
.tbl tbody tr {
  border-bottom: 1px solid #ddd;
}
/* line 347, ../sass/screen.scss */
.tbl th, .tbl td {
  padding: 1px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 352, ../sass/screen.scss */
.tbl th {
  text-align: left;
  font-weight: 700;
}
/* line 357, ../sass/screen.scss */
.tbl tbody tr:hover {
  background-color: #eee;
}

/* line 362, ../sass/screen.scss */
.allign-right {
  text-align: right;
}

/*doc
---
title: Holiday Label
name: holiday label
category: basics
---

Holiday box with checkmark and title. Checked and unchecked states.

```html_example
<div class="holiday-section">
<label>
<input type="checkbox" />
<span><br>New Years<br>Jan 1</span>
</label>
<label>
<input type="checkbox" checked/>
<span><br>New Years<br>Jan 1</span>
</label>
</div>
```

*/
/* line 390, ../sass/screen.scss */
.holiday-section {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
/* line 394, ../sass/screen.scss */
.holiday-section input[type="checkbox"] {
  display: none;
}
/* line 397, ../sass/screen.scss */
.holiday-section label {
  display: inline-block;
  padding: 0 2px;
  cursor: pointer;
  vertical-align: top;
}
/* line 403, ../sass/screen.scss */
.holiday-section span {
  display: inline-block;
  width: 100%;
  margin-bottom: 1px;
  color: #fff;
  background-color: #f28e1f;
  border-radius: 4px;
}
/* line 412, ../sass/screen.scss */
.holiday-section :checked + span {
  background-color: #5eb147;
}
/* line 415, ../sass/screen.scss */
.holiday-section span:hover, .holiday-section :checked + span:hover {
  background-color: #0093c9;
}
/* line 418, ../sass/screen.scss */
.holiday-section span:before {
  font-size: 2rem;
  content: '\002610';
}
/* line 422, ../sass/screen.scss */
.holiday-section :checked + span:before {
  content: '\002611';
}
/* line 425, ../sass/screen.scss */
.holiday-section b {
  font-weight: 300;
}

/* line 430, ../sass/screen.scss */
#holidaysFLT label {
  width: 24%;
}

/* line 433, ../sass/screen.scss */
#holidaysSTD label {
  width: 16%;
}
/* line 435, ../sass/screen.scss */
#holidaysSTD label span {
  height: 91px;
}

/*doc
---
title: Notifications
name: notifications
category: basics
---

Styling examples that a few classes provides: ".info, .success, .danger, .warning";

```html_example
<div class="info">info</div><br>
<div class="info success">success</div><br>
<div class="info danger">danger</div><br>
<div class="info warning">warning</div>
```
*/
/* line 457, ../sass/screen.scss */
.info {
  padding: 0 10px;
  color: #fff;
  background-color: #0093c9;
}
/* line 461, ../sass/screen.scss */
.info.success {
  background-color: #5eb147;
}
/* line 464, ../sass/screen.scss */
.info.danger {
  background-color: #b00925;
}
/* line 467, ../sass/screen.scss */
.info.warning {
  background-color: #f28e1f;
}

/*doc
---
title: Tooltip
name: tooltip
category: basics
---

Shows on top of chart during hover of a node.

```html_example
<div class="display-only-wrapper">
  <div id="tooltip" class="tooltip" style="display:block">PTO Balance - Sat Mar 15 2014 = 50.00</div>
<br><br>
</div>
```

*/
/* line 490, ../sass/screen.scss */
.tooltip {
  position: absolute;
  top: 0;
  display: none;
  padding: 2px 5px 2px 2px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 498, ../sass/screen.scss */
.tooltip:before {
  position: absolute;
  top: 0;
  right: 100%;
  width: 0;
  height: 0;
  content: '';
  border: 13px solid transparent;
  border-right-color: #fff;
  border-right-color: rgba(255, 255, 255, 0.8);
  border-left-width: 0;
}

/*chart area*/
/* line 512, ../sass/screen.scss */
.placeholder {
  height: 300px;
  background-color: #0093c9;
  border-radius: 4px;
  box-shadow: 0 3px 0 0 #d0d2d3;
}

/* line 519, ../sass/screen.scss */
.flot-text {
  color: #fff !important;
}

/* line 522, ../sass/screen.scss */
.legend {
  font-size: 12px;
  line-height: 1;
}
/* line 525, ../sass/screen.scss */
.legend > div {
  display: none;
}
/* line 528, ../sass/screen.scss */
.legend table {
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.15);
}

/*doc
---
title: Help info
name: helpinfo
category: basics
---

Help info displayed on hover.

```html_example
 <span class="help" data-info="Unused balance from previous year">I</span>
```
*/
/* line 548, ../sass/screen.scss */
.help {
  border-radius: 2em;
  background-color: #eee;
  padding: 0 7px;
  font-weight: 400;
  margin-left: 8px;
  position: relative;
  font-family: Georgia, serif;
}

/* line 557, ../sass/screen.scss */
.help:hover {
  cursor: help;
  background-color: #ccc;
}

/* line 561, ../sass/screen.scss */
.help:hover:after {
  background-color: #eee;
  content: attr(data-info);
  position: absolute;
  top: 0;
  left: 15px;
  white-space: nowrap;
  padding: 0 5px;
  font-family: sans-serif;
}

@media (max-width: 700px) {
  /* line 574, ../sass/screen.scss */
  .float50 {
    float: none;
    width: auto;
  }
}
/* line 579, ../sass/screen.scss */
.container {
  margin: 0 auto;
}

@media (min-width: 768px) {
  /* line 583, ../sass/screen.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 588, ../sass/screen.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 593, ../sass/screen.scss */
  .container {
    width: 1170px;
  }
}
